h1 {
  @include primaryFont(4rem);
}

h2 {
  font-family: $primary;
  color: $grey;
  font-size: 2rem;
}

button, 
.button {
  @include button(2rem);
  margin: 100px auto;
}

button:hover,
.button:hover {
  transform: scale(1.2);
  color: $pink
}

ul {
  display:flex;
  justify-content: space-evenly;
  list-style: none;

  a {
    text-decoration: none;
    color: $teal;
    font-size: 200%;
    transition: all 0.2s ease-in;
  }

  a:hover {
    color: $grey;
  }
}

header {
  text-align: center;
  padding: 100px 50px;
  background: $darkPink;
}

p {
  font-family: $secondary;
  color: $teal;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 50px;
}

span {
  color: $gold;
  font-weight: 800;
}

section {
  background: $gold;
  padding: 50px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;

  input {
    background: $pink;
    padding: 10px 20px;
    border: 3px solid $teal;
  }

  p{
    color: $darkPink;
  }
}

.results {
  background: $darkPink;
}

footer {
  
  background: $grey;
  
  p{
    font-family: $primary;
    margin: 0 auto;
    text-align: center;
  }
}
