.wrapper {
  width: 80%;
  max-width: 1800px;
  margin: 0 auto;
}

.overlay {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: $grey;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;

  h3 {
    font-size: 3rem;
    font-family: $primary;
  }

  .overlayText {
    background: white;
    color: $pink;
    font-family: $secondary;
    margin: 0 50px;
    padding: 50px;
  }

  #close {
    font-size: 4rem;
    cursor: pointer;
  }
}

h1 {
  @include primaryFont(3rem);
}

h2 {
  font-family: $primary;
  color: $grey;
  font-size: 2rem;
}

button, 
.button {
  @include button(2rem);
  margin: 100px auto;
}

button:hover,
.button:hover {
  transform: scale(1.2);
  color: $pink
}

ul {
  display:flex;
  justify-content: space-evenly;
  list-style: none;

  a,
  .question {
    text-decoration: none;
    color: $teal;
    font-size: 200%;
    transition: all 0.2s ease-in;
  }

  a:hover,
  .question:hover {
    color: $grey;
  }

  .question {
    cursor: pointer;
  }
}

header {
  text-align: center;
  padding: 10px 50px;
  background: $darkPink;
  position: relative;
}

p {
  font-family: $primary;
  color: $teal;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 50px;
}

span {
  color: $gold;
  font-weight: 800;
}

section {
  background: $gold;
  padding: 50px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;

  input {
    background: $pink;
    padding: 10px 20px;
    border: 3px solid $teal;
  }

  p{
    color: $darkPink;
  }
}

.results {
  overflow-y: scroll;
  border: 5px solid $grey;
  border-radius: 15px;
  max-height: 50vh;

  h1 {
    color: $pink;
  }

  .firstname {
    margin-right: 20px;
  }

  .lastname {
    margin-left: 20px;
  }

  .name {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
  }
}

footer {
  
  background: $grey;
  
  p{
    font-family: $primary;
    margin: 0 auto;
    text-align: center;
  }
}
