//Mobile 

@media (max-width: 381px) {
  body {
    overflow-x: hidden;
  }

  h1 {
    @include primaryFont(2rem);
  }

  h2 {
    font-size: 1.5rem;
  }

  button,
  .button {
    font-size: 1rem;
    padding: 10px;
  }

  input {
    margin-top: 10px;
  }
}