@mixin primaryFont($sizeValue) {
  font-family: $primary;
  font-size: $sizeValue;
  color: $gold;
  text-transform: uppercase;
}

@mixin secondaryFont($sizeValue) {
  font-family: $secondary;
  font-size: $sizeValue;
  color: $darkPink;
}

@mixin button ($sizeValue) {
  font-family: $primary;
  font-size: $sizeValue;
  color: $darkPink;
  background-color: $teal;
  text-decoration: none;
  padding: 30px;
  border: 2px solid $darkPink;
  border-radius: 100px;
  transition: all 0.3s ease;
}